html {
    font-family: "Arial";
}

/* CSS Selectors */
input, textarea {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-bottom: 20px;
}

label, input, textarea {
    display: block;
}

textarea {
    height: 200px;
}
div {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #ddd;
    color: black;
}

.tableh th {
    background-color: #BBBBBB;
    color: black;
    text-align: center;
    font-weight: bold;
}

td a {
    text-decoration: none;
    color: #001BFF;
    font-weight: bold;
}

td a:hover {
    color: #333;
}
