html {
    font-family: "Arial";
}

 body{
    background: lightgray;
}

/* CSS Selectors */
input, textarea {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-bottom: 20px;
}

label, input, textarea {
    display: block;
}

textarea {
    height: 200px;
}