{% extends 'layouts/base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
<h1>Page Index</h1>

    <div class="page-list">
        <div class="page-item">
            <div class="page-content">
                <h2>Home Page</h2>
                <p>In this page you can see all posts, edit, update and delete them</p>
            </div>
        </div>

        <div class="page-item">
            <div class="page-content">
                <h2>New Post Page</h2>
                <p>In this page you can add new post</p>
            </div>
        </div>

        <div class="page-item">
            <div class="page-content">
                <h2>Edit Post Page</h2>
                <p>In this page you can update post</p>
            </div>
        </div>

        <div class="page-item">
            <div class="page-content">
                <h2>View Post Page</h2>
                <p>In this page you can see post title and body, as well you can delete or update from this page</p>
            </div>
        </div>

        <div class="page-item">
            <div class="page-content">
                <h2>Index Page</h2>
                <p>In this page you can see all pages in this project, you are in it now.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}